

<head>

<link href="https://fonts.googleapis.com/css?family=Cardo|Quattrocento+Sans" rel="stylesheet">
  <style>


  .poetry {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Cardo', serif;
  }


  .poem {
    list-style: none;
    font-family: 'Quattrocento Sans', sans-serif;
  }

  .poem li {
    margin: 5px 0;
  }

  .first-letter {
    color: red;
  }

  </style>

</head>

<body class="poetry">
  <h1> <%= @acrostic ? @acrostic.capitalize : "Volatoris" %>: </h1>

<ul class="poem">
  <% @poem.each do |line| %>
  <li title="<%= line[1] %>"> <span class="first-letter"> <%= line[0][0] %></span><%= line[0][1..-1] %> </li>
  <% end %>

</ul>

</body>
